.Chat-main
  .Chat-main__group-info
    .current-group 
      .current-group-name 
        = @group.name
      .current-group-member
        Member: 
        = @group.users.pluck(:name).join(", ")
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Chat-main__message-form"}, local: true do |f|
      .Chat-main__message-form__input-field
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-image' do
          = icon('far', 'image', class:"icon-image")
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'Chat-main__message-form__submit-btn'