.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items 
      .Side-bar__user-name__top-items__name
        = current_user.name
      .Side-bar__user-name__top-items__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: 'icon-edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon-cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .group-menu
        = link_to '#' do
          .group-menu__group-name 
            = group.name
          .group-menu__group-message 
            メッセージはまだありません